main
{
    background-color: antiquewhite;
    color:#10011a;
    display: flex;
    padding: 30px;
    border-radius: 15px;
    margin: 20px;
}

h2 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 50px;
}